<section data-ng-controller="HomeController">


    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <h3>Boolean flags example</h3>
            <ng-include src="'modules/examples/views/boolean.html'">
            </ng-include>

            <tabset>
                <tab heading="HTML">
                    <br>

                    <div hljs="" include="'modules/examples/views/boolean.html'" language="javascript"></div>
                </tab>
                <tab heading="Javascript">
                    <br>

                    <div hljs="" include="'modules/examples/controllers/boolean.js'" language="javascript"></div>
                </tab>
            </tabset>
        </div>
    </div>

</section>
