<section data-ng-controller="DocumentumController">
    <div class="row">
        <div class="col-md-12">
            <h3></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default" ng-repeat="menu in menuTree.rootNode.children">
                <div class="panel-heading">
                    {{menu.data.name}}
                </div>
                <div class="list-group">
                    <a ng-click="menuTree.selectNode(node)" class="list-group-item ng-class:(menuTree.getSelectedNodeId() == node.id) ? 'active' : '';" ng-repeat="node in menu.children">
                        <span class="glyphicon glyphicon-book"></span> {{node.data}}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {{menuTree.getSelectedNode().data}}
            <div ng-include="currentInclude()"></div>
        </div>
    </div>

</section>
