<section data-ng-controller="HomeController">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Pure... models for Angular</h1>

                <p>
                    Its amazing what we can do with Angular, Bootstrap and Puremodels.
                </p>
                <span data-drag="true" jqyoui-draggable>So you think you can drag</span>
                <p>
                    <a class="btn btn-primary btn-lg" href="#!/selection" role="button">Learn more</a>
                    <a class="btn btn-info btn-lg" href="/docs/index.html" role="button">Api as ng-docs</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-sm-6 col-xs-6">

            <h2>List</h2>

            <ul class="list-group">
                <li class="list-group-item active">
                    <span class="badge">14</span>
                    Cras justo odio
                </li>
                <li class="list-group-item">
                    <span class="badge">1</span>
                    Morbi leo risus
                </li>
                <li class="list-group-item">
                    <span class="badge">4</span>
                    Vestibulum at eros
                </li>
            </ul>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h2>Menu</h2>

            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h2>Tabs</h2>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6">
            <h2>Buttons</h2>

            <div class="btn-group">
                <label class="btn btn-primary">Left</label>
                <label class="btn btn-primary">Middle</label>
                <label class="btn btn-primary">Right</label>
            </div>
        </div>
    </div>
</section>
