<section data-ng-controller="HomeController">

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <h3>Select row in table example</h3>
            <ng-include src="'modules/examples/views/simple.html'">
            </ng-include>

            <tabset>
                <tab heading="HTML">
                    <br>

                    <div hljs="" include="'modules/examples/views/simple.html'" language="javascript"></div>
                </tab>
                <tab heading="Javascript">
                    <br>

                    <div hljs="" include="'modules/examples/controllers/simple.js'" language="javascript"></div>
                </tab>
            </tabset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">


        </div>
    </div>
</section>
