<section data-ng-controller="SnippetsController">
    <div class="row">
        <div class="col-md-3" >
            <h3 translate>SEARCH_FOR_SNIPPETS</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div ng-if="selectableTags.multiSelectedIndexes.length > 0" class="panel panel-default">
                <div class="panel-heading">Selected tags</div>
                <div class="list-group">
                    <a ng-repeat="si in selectableTags.multiSelectedIndexes"
                       ng-click="selectableTags.multiUnselect(si)"
                       class="list-group-item">
                        <span class="">{{selectableTags.list[si].tagName}}</span>
                        <span class="pull-right"><i class="glyphicon glyphicon-remove"></i></span>
                    </a>
                </div>
            </div>

            <div ng-if="selectableTags.multiSelectedIndexes.length < selectableTags.list.length"
                 class="panel panel-default">
                <div class="panel-heading">Add more tags to filter:</div>
                <div class="list-group">
                    <a ng-repeat="tag in selectableTags.list"
                       ng-click="selectableTags.multiSelect($index)"
                       ng-hide="selectableTags.multiSelections[$index] || whatIf[tag.tagName] == 0"
                       class="list-group-item ">
                        <span class="">{{tag.tagName}} </span>
                        <span class="badge badge-default pull-right">{{whatIf[tag.tagName]}}</span>
                    </a>
                </div>
            </div>

        </div>
        <div class="col-md-9">

            <div ng-if="selectableTags.multiSelectedIndexes.length == 0" class="alert alert-info" role="alert">
                <strong>All {{filteredSnippets.length}} snippets: {{}}</strong>
                <div class="btn-group btn-group-xs pull-right" role="group">

                    <button ng-repeat="type in resultViewTypes.getList()" type="button" ng-click="resultViewTypes.selectIndex($index)"
                            class="btn btn-default ng-class:resultViewTypes.getSelectedIndex() == $index ? 'active' : ''" >
                        <i class="fa fa-{{type}}"></i>
                    </button>

                </div>
            </div>

            <div ng-if="selectableTags.multiSelectedIndexes.length > 0" class="alert alert-success" role="alert">

                <strong>Found {{filteredSnippets.length}}</strong> search results for:
                <span ng-repeat="si in selectableTags.multiSelectedIndexes"
                      ng-click="selectableTags.multiUnselect(si)">
                <span class="label label-primary ">{{selectableTags.list[si].tagName}} <i
                        class="glyphicon glyphicon-remove"></i></span>
                </span>

                <div class="btn-group btn-group-xs pull-right" role="group">
                    <button type="button" ng-click=""
                            class="btn btn-default active" title="titles only">
                        <i class="fa fa-list"></i>
                    </button>
                    <button type="button"
                            class="btn btn-default" title="gallery view">
                        <i class="fa fa-picture-o"></i>
                    </button>
                </div>
            </div>


            <div ng-if="resultViewTypes.getSelectedObject() === 'picture-o'">
                <div ng-repeat="snippet in filteredSnippets | limitTo:paging.limitTo">
                    <a ui-sref="snippet({snippetId : goToSnippet(snippet.fileName)})"
                       class="btn btn-link pull-right btn-xs" title="go to snippet page">
                        <i class="fa fa-arrow-right"></i>
                    </a>

                    <!-- <a ui-sref="snippet({snippetId : goToSnippet(snippet.fileName)})">{{snippet.fileName}}</a> -->
                    <div ng-include="snippet.fullFilename"></div>
                    <br />
                </div>
            </div>
            <div ng-if="resultViewTypes.getSelectedObject() === 'list'">
                <div ng-repeat="snippet in filteredSnippets | limitTo:paging.limitTo" >
                    <a class="btn btn-link" ui-sref="snippet({snippetId : goToSnippet(snippet.fileName)})">{{snippet.fileName}}</a>
                </div>
            </div>

            <nav>
                <ul class="pager">
                    <li ng-class="paging.hasNext() == false ? 'disabled' : ''">
                        <a ng-disabled="!paging.hasNext()" ng-click="paging.next()" aria-label="More">
                            More <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
