<section data-ng-controller="HomeController">

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12 ">
            <h3>Sorting in table example</h3>
            <ng-include src="'modules/examples/views/sorting.html'">
            </ng-include>


            <tabset>
                <tab heading="HTML">
                    <br>

                    <div hljs="" include="'modules/examples/views/sorting.html'" language="javascript"></div>
                </tab>
                <tab heading="Javascript">
                    <br>

                    <div hljs="" include="'modules/examples/controllers/sorting.js'" language="javascript"></div>
                </tab>
                <tab heading="HTML sorter">
                    <br>

                    <div hljs="" include="'dev/directives/sort-th.html'" language="javascript"></div>
                </tab>
                <tab heading="JS sorter">
                    <br>

                    <div hljs="" include="'dev/directives/sort-th.js'" language="javascript"></div>
                </tab>
            </tabset>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">


        </div>
    </div>
</section>
