<div class="snippet" data-ng-controller="SampleController" categories="SampleCategories">
    <h4 class="snippet_title">{{sampleId}}</h4>
    <!-- comment -->
    <div class="snippet_body">
        Hello, {{sampleId}}
    </div>
</div>
