<div data-ng-controller="TreeController">


    <div class="tree well simpleDemo">
        <div>
            <div style="display: inline-block" role="group" >
                <button type="button" class="btn btn-primary" ng-click="expandAll()">Expand all</button>
                <button type="button" class="btn btn-primary"  ng-click="collapseAll()">Collapse all</button>
                <button type="button" class="btn btn-primary">Expand first</button>
            </div>
            <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-default">Home</button>
                <button type="button" class="btn btn-default" ng-click="selectNext()">Next</button>
                <button type="button" class="btn btn-default">Prev</button>
                <button type="button" class="btn btn-default">End</button>
            </div>
        </div>

        <!-- tree itself -->
        <ul style="padding-left: 0px" dx-start-with="treeFromData.rootNode">
            <li ng-repeat="node in $dxPrior.children"
                data-drop="true" data-jqyoui-options="{hoverClass: 'drop-hover', activeClass: 'drop-active'}"
                jqyoui-droppable="{stack:true, multiple : true, onDrop:'dropCallback(node)',onOver: 'overCallback', onOut: 'outCallback'}">

                <span ng-class="{ active : treeFromData.getSelectedNodeId() == node.id}"
                      data-drag="true"

                      data-jqyoui-options="{ revert: 'valid'}"
                      jqyoui-draggable="{placeholder:true, animate:true, onStart:'startCallback(node)', onStop: 'stopCallback', onDrag: 'dragCallback'}">
                    <i ng-click="treeFromData.toggleExpandNode(node)"
                       class="glyphicon ng-class:node.leaf ? 'glyphicon-leaf' : node.expanded ? 'glyphicon-folder-open' : 'glyphicon-folder-close';"></i>
                    <section style="display: inline" ng-click="treeFromData.selectNode(node)"> {{ node.id }}-{{node.data.name}}</section>
                </span>

                <ul ng-if="node.expanded" dx-connect="node"/>
            </li>
        </ul>
        <h4>Selected node:{{treeFromData.getSelectedNode().path}}</h4>
    </div>

</div>