<div class="snippet" data-ng-controller="TreeFolderToolbarTableController" categories="documents,folders,table">
    <div class="row">
        <div class="col-md-5">
            <div class="tree tree-panel">
                <!-- tree itself -->

                <!-- show root node with special icon -->
                <ul style="padding-left: 0px">
                    <li>
                       <span ng-class="{ active : treeFromData.getSelectedNodeId() == treeFromData.rootNode.id}">
                           <i ng-click="treeFromData.toggleExpandNode(treeFromData.rootNode)"
                              class="glyphicon glyphicon-tree-conifer"></i>
                           <section style="display: inline"
                                    ng-click="treeFromData.selectNodeAndLoadChildren(treeFromData.rootNode)">
                               /
                           </section></span>

                        <!-- tree markup done with recursive directive -->
                        <ul dx-start-with="treeFromData.rootNode">

                            <li ng-repeat="node in $dxPrior.children" ng-if="!node.leaf">

                                <!-- tree node markup depends on type of the node -->
                <span ng-class="{ active : treeFromData.getSelectedNodeId() == node.id}">
                    <i ng-click="treeFromData.toggleExpandNode(node)"
                       class="glyphicon ng-class:node.leaf ? 'glyphicon-leaf' : node.expanded ? 'glyphicon-folder-open' : 'glyphicon-folder-close';"></i>
                    <section style="display: inline" ng-click="treeFromData.selectNodeAndLoadChildren(node)">
                        {{node.data.title}}
                    </section>
                </span>

                                <!-- recursion tag: replaces with 'dx-start-with' -->
                                <ul ng-if="node.expanded" dx-connect="node"/>
                            </li>

                        </ul>

                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">

                    Folder <strong>{{treeFromData.getSelectedNode().data.content.properties.object_name}}</strong>

                    <div class="pull-right">

                        <div class="btn-group btn-group-xs" role="group">

                            <button class="btn btn-default" title="reload"
                                    ng-click="reload()">
                                <i class="fa fa-refresh ng-class:documentumService.loading ? 'fa-spin':'';"></i>
                            </button>
                        </div>


                    </div>
                </div>
                <div class="panel-body" ng-if="treeFromData.getSelectedNode().leaf">
                    {{treeFromData.getSelectedNode().data.content.properties.object_name}}
                    <br />
                    {{treeFromData.getSelectedNode().data.contentURIEncoded}}
                    <table class="table table-condensed">
                        <tbody>
                        <tr ng-repeat="(name, value) in treeFromData.getSelectedNode().data.content.properties">
                            <td>{{name}}</td>
                            <td>{{value}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <table class="table table-bordered table-condensed" ng-if="!treeFromData.getSelectedNode().leaf">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Author</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="node in treeFromData.getSelectedNode().children">
                        <td>
                            <i ng-click="treeFromData.selectNodeAndExpandParent(node)" title="{{node.data.content.properties.r_object_type}}"
                           class="glyphicon ng-class:node.leaf ? 'glyphicon-leaf' : 'glyphicon-folder-close';"></i>
                       </td>
                        <td>{{node.data.title}}</td>
                        <td>{{node.data.author[0].name}}</td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
